include ../mixins/icons.jade
dl
  dt
    if title
      span.label.no-underline= title
      span.sub-nav__icon
        if previous_Query
          a(href='#', ng-click='load_Query("' + previous_Query + '")')
            +back-icon

  if(containers)
    #containers.scroll
      each container in containers
        if container.size > 0
          a(href='#', id= container.id, ng-click='load_Query("' + container.id + '")' )
            dd
              span.text= container.title
              span.badge= container.size