block content
  main
    section.row
      .col-3
        h4 injected one at the time
        icon.Design
        icon(type='.Net')
        icon(type='Java')
        icon(type='Principle')
        icon(type='Design')
        icon(type='Principle')
        icon(type='Requirement')
      .col-3
        h4 all in one go (without titles)
        show-all-icons
      .col-3
        h4 all in one go (with titles)
        show-all-icons(with-titles)