extends ../../_layouts/angular-page
include ../../mixins/error-mixins
include ../../mixins/landing-page
block content
    #application
        .row
            .col-3
                .lge-container
            .col-6
                .lge-container
                    +error_404
            .col-3
                .lge-container
    br
    +footer-div