include ../../mixins/getting-started-mixins

block content
  section.row
    .col-4
      +team-mentor-summary
    .col-8
      section.getting-started
        include ../../component/sign_up_form.jade