include ../../mixins/links.jade
nav
  if(global.custom && global.custom.custom_navigation)
    if global.custom.custom_navigation.logo == '/logos/for_the_journey_logo.jpg'
      a.logo(ui-sref='home' style="background-size: 70% !important")
      div.logo.customization(style="background-image:url(" + global.custom.custom_navigation.logo + ");background-size: 80% !important")
    else
      a.logo(ui-sref='home' style="background-size: 75% !important")
      div.logo.customization(style="background-image:url(" + global.custom.custom_navigation.logo + ") !important")
  else
    a.logo(ui-sref='home')
  .links
    ul.display-inline
      li
        a(ui-sref="about") About
      li
        a(ui-sref="features") Features
      li
        a(ui-sref="docs") Docs
      li
        a(ui-sref="sign_up") Sign Up
      li
        a(ui-sref="login") Login