include ../mixins/links.jade
nav.container
  a.logo(ui-sref='home')
  .links
    ul.display-inline
      li
        a(ui-sref="about") About
      li
        a(ui-sref="features") Features
      li
        a(ui-sref="docs") Docs
      li
        a(ui-sref="sign_up") Sign Up
      li
        a(ui-sref="login") Login