include ../../mixins/icons.jade
aside(ng-controller='User_Navigation_Controller')
  ul
    li
      div.logo
    li(ng-show='show_Loading_Image')
      img(src='http://v1.preloaders.net/preloaders/98/preview.gif' style='height:15px;width:15px')
    li
      a(ui-sref="main")
        icon.Home
    li
      //a(ui-sref="queries")
      a(href='#' ng-click="open_Query_State()")
        icon.Index
    li
      a(ui-sref="docs")
        icon.Info

    li
      a(href="/angular/guest/logout")
        icon.Logout
      //a(ui-sref="logout")