aside(ng-controller='User_Navigation_Controller')
  ul
    li(ng-show='show_Loading_Image')
      icon.Loading.rotating
    li
      a(href='index' ng-click="open_Query_State()" title='Home')
        icon.Home
    li
      a(href="guides" title='Security Guide')
        icon.Curated-Content
    li
      a(ui-sref="main" title='Saved Searches')
        icon.Save
    li
      a(ui-sref="docs" title='Docs')
        icon.Info
    li
      a(href="/angular/guest/logout" title='Logout')
        icon.Logout