include ../../mixins/icons.jade
aside(ng-controller='User_Navigation_Controller')
  ul
    li(ng-show='show_Loading_Image')
      icon.Loading.rotating
    li
      //a(ui-sref="queries")
      a(href='index' ng-click="open_Query_State()")
        icon.Home
    li
      a(ui-sref="main")
        icon.User
    li
      a(ui-sref="docs")
        icon.Info
    li
      a(href='#')
        span.text !
    li
      a(href="/angular/guest/logout")
        icon.Logout
      //a(ui-sref="logout")