aside(ng-controller='User_Navigation_Controller')
  ul
    li(ng-show='show_Loading_Image')
      icon.Loading.rotating
    li
      a(href='index' ng-click="open_Query_State()")
        icon.Home
    li
      a(href="guides")
        icon.Curated-Content
    li
      a(ui-sref="main")
        icon.Save
    li
      a(ui-sref="docs")
        icon.Info
    li
      a(href="/angular/guest/logout")
        icon.Logout