extends _layouts/flare_page
include mixins/articles-mixins

block content
  .application
    +left-navigation
    +filters-div
    main
      +flare-alert
      +article
      //+related-options
      //+copyright