extends _layouts/flare_page
include mixins/application-mixins

block content
  .application
    +left-navigation
    +filters-div
    main
      section.row
        .col-3
          .map
            .label Map
        .col-9
          section.row
            +articles-list
            +articles-list
            +articles-list
