extends _layouts/flare_page
include mixins/application-mixins

block content
  .application
    +left-navigation
    +filters-div
    main
      section.row
        .col-3
          dl
            dt
              section.row
                .col-11
                  .label Curated Content
                .col-1
                  br
                  +back-icon
            dd Item One
            dd Item Two
            dd Item Three
        .col-9
          section.row
            +articles-list
            +articles-list
            +articles-list
