extends _layouts/flare_page_landing
include mixins/getting-started-mixins

block content
  .application
    section.row
      .col-4
        +team-mentor-summary
      .col-8
        .getting-started
            section.row__label
              .label Forgot your password?
            br
            section.row
              +flare-forgot-password-form