extends _layouts/flare_page_landing
include mixins/getting-started-mixins

block content
  .application
    section.row
      .col-4
        +team-mentor-summary
      .col-8
        section.row
          br
          +alert-sign-up-failed
          +login-form
          +sign-up-form