extends _layouts/page
include mixins/getting-started-mixins

block content
  .application
    section.row
      .col-4
        +team-mentor-summary
      .col-8
        section.getting-started
          +login-form-validation
          +sign-up-form-validation