extends _layouts/flare_page_landing

block content
  .application.logged-out
    section.row
      .col-3
        +help-sub-navigation
      .col-9
        article
          p Specific docs page here
          include:marked ../TM_Static/content/help/page-index.md