extends _layouts/page
include mixins/application-mixins.jade

block content
  .application
    +left-navigation
    +filters-div
    main
      section.row
        .col-3
          +navigate
        .col-9
          +results-save-share
          section.row
            +articles-list
          section.row
            +pagination