extends _layouts/flare_page_landing
include mixins/getting-started-mixins

block content
  .application
    section.row
      .col-4
        +team-mentor-summary
      .col-8
        section.getting-started
          br
          +alert-pwd-sent
          +login-form
          +sign-up-form