.result(ng-controller='Article_Box_Controller')
  .metadata
    ul
      li
        #icon-technology(ng-bind-html='icon_Technology')
      li
        #icon-technology(ng-bind-html='icon_Type')
      li
        #icon-technology(ng-bind-html='icon_Phase')
  .summary
    a(ng-href='{{article.url}}', id='{{article.id}}')
      h4#article-headline {{article.title}}
    p {{article.summary}} ...