//include ../mixins/icons.jade
include ../../mixins/globals.jade

.col-9
  .article
    h1.article-title {{article.title}}
    #html.article-content(ng-bind-html='article_Html')
  br
  +copyright
.col-3
  .section.article-info
    .section.row__label
      .label Relates to:
    .section.row
      ul.display-inline
        li
          #icon-technology(ng-bind-html='icon_Technology')
        li
          #icon-Type(ng-bind-html='icon_Type')
        li
          #icon-Phase(ng-bind-html='icon_Phase')
    .section.row.fixed-bottom
      .alert.alert-neutral
        span.text Have a comment about this article? Send our team 
          a(href='mailto:support@securityinnovation.com') an email.