include ../../mixins/globals.jade
include ../../mixins/articles-mixins.jade
div(ng-controller="Article_Controller" ng-show="show_Article_Data()")
  .col-9
    +article-content
    share
  .col-3
    .section.article-info
      +article-metadata
      +article-feedback