include ../../mixins/icons.jade

div(ng-controller='Articles_Controller')
  section.row
    article.result(ng-repeat='article in articles')
      .metadata
        ul
          li
            //+show-icon('Technology',result.technology)
          li
            //+show-icon('Type', result.type)
          li
            //+show-icon('Phase', result.phase)
          //li
              +save-button
          //li
              +share-button
      .summary
        a(ng-href='{{article.url}}', id='{{article.id}}')
          h3#article-headline {{article.title}}
        p {{article.summary}} ...
    //each result,index in results.take(10)
      if result && result.id && result.title
        article.result
          .metadata
            ul
              //li
                span.label.no-underline
                  +tick-icon
                  span   Seen
              li
                +show-icon('Technology',result.technology)
              li
                +show-icon('Type', result.type)
              li
                +show-icon('Phase', result.phase)
              //li
                  +save-button
              //li
                  +share-button
          .summary
            a(href='/angular/user/article/' + result.id.remove('article-') + '/' + result.title.replace(/ /g, '-').remove('.'), id=result.id)
              h3#article-headline= result.title
            p= result.summary + '...'