include ../../mixins/icons.jade

div(ng-controller='Filters_Controller')
  .section.row(ng-show='view_Filters')
    dl.scroll
      #filters(ng-repeat ='(title,filter) in filters')
        dt
          .label.no-underline
            icon.Filter
            span.text= ' ' + '{{title}}'
          span
            icon.Arrow-Down
        #results
          div(ng-repeat='result in filter')
            dd('ng-show'='result.size > 0')
              a(href='#'  'ng-click'='apply_Filter(result.id, result.title, title)')
                span
                  span#filter-icon(ng-bind-html='result.icon')
                  span.text {{result.title}}
                span.badge {{result.size}}