.section.row
  //include active_filter.jade
  //span.icon-Java
    span.path1
    span.path2

  .active-filter(ng-repeat='(key, value) in current_Filters')
    span
      span.icon-Design
        span.path1
        span.path2
      span.text {{value}}
    span.close
      a(href='#' 'ng-click'='clear_Filter(key)') x