div(ng-controller='Filters_Controller' ng-show='visible')
  .section.row(ng-show='view_Filters')
    dl
      dt
        p Filter by
  .section.row__label(ng-repeat ='(title,filter) in filters')
    .label= ' ' + '{{title}}'
    .filter-container(ng-repeat='result in filter')
      span('ng-show'='result.size > 0')
        a(href='#'  'ng-click'='apply_Filter(result.id, result.title, title)')
          span#filter-icon(ng-bind-html='result.icon')
          span.text {{result.title}}
          span.badge {{result.size}}