// Logout Modal
//.modal
  .navbar
    .label.no-underline Log Out
    ul
      li
        icon.Close
  .content
    .col-10
      h4 Are you sure you want to leave?
    .col-2
      ul.display-inline
        li
          a.button.btn-editor
            icon.Tick
        li
          a.button.btn-editor.cancel
            icon.Close

// Share modal
.modal
  .navbar
    .label.no-underline Share
    ul
      li
        icon.Close
  form.content
    .col-11
      input(type='text', placeholder='Article URL')
    .col-1
      a.button.btn-editor
        icon.Copy