span(ng-controller='Pagination_Controller')
  //adding .main so that it looks ok as a stand alone
    //.main
  .section.row.pagination
    .previous
      a(href='#', ng-click='previous_Page()')
        span.icon-Arrow-Left
        span= ' previous'

    .number#current_Page
      select(ng-model='model.page', ng-change='set_Page()', ng-options='page for page in model.pages')


    .number#page_Splits
      select(ng-model='model.page_Split', ng-change='set_Page_Split()', ng-options='page_Split for page_Split in model.page_Splits')

    .next
      a(href='#', ng-click='next_Page()')
        span= 'next '
        span.icon-Arrow-Right
