//include ../../mixins/icons.jade
div(ng-controller='Queries_Controller' ng-show='visible')
  dl
    dt
      p#query_title {{title}}
      span.sub-nav__icon
        a(ng-click="show_Previous_Query()")
          icon.Arrow-Left
    #containers.scroll
      div(ng-repeat="container in containers")
        //if container.size > 0
        a(href='#', id='{{container.id}}', ng-click='load_Query(container.id)' ng-show='container.size >0')
          dd
            span.text {{container.title}}
            span.badge {{container.size}}