div(ng-controller='Results_Controller' ng-show='visible')
  section.row__label(ng-hide = 'results_Size')
    .label#noResultsTitle.
      Query has no results
  section.row__label(ng-show = 'results_Size')
    .label#resultsTitle
      div(ng-controller="Pagination_Controller")
        {{pagginMessage}}
    ul.display-inline.text-right
      li
        a#view_Filters.button.btn-result(href = '#', title = 'View Filters', ng-click= 'toggle_Filters()')
          .icon-Filter