.search(ng-controller="Search_Bar_Controller")
  form(ng-submit="submit()")
    ul
      li
        div.logo
    select(ng-model='selected_Technology'
           ng-change='select_Technology(selected_Technology)'
           ng-options='technology as technology.title for technology in technologies')

    input.search-input#search-text(type="text", ng-model="text", placeholder="Search TEAM Mentor", ng-change='get_Words(text)', autocomplete="off" autocorrect="off" autocapitalize="off")

    select#recomendations(style='position:absolute;right:90px')
      option(ng-repeat='word in words' value='word') {{word}}

    button.btn-search#search-button(type="submit")
      icon.Search