include ../../mixins/icons.jade
.search(ng-controller="Search_Controller")
  form(ng-submit="submit()")
    ul
      li
        div.logo
    select
      option(ng-repeat="technology in technologies" value="{{technology}}") {{technology}}
    input.search-input#search-text(type="text", ng-model="text", placeholder="Type keywords here")
    button.btn-search#search-button(type="submit")
      +search-icon