div(ng-controller='Share_Controller')
  div(ng-show='show_feedback')
        .modal
          .navbar
              .col-1
                  .label.no-underline Share this article
                    icon.Share
              .col-4
                  .section.row(ng-show="showInfoMessage()")
                      .alert.alert-ok(role="alert" ng-show="showInfoMessage()")
                              p {{infoMessage}}
              ul
                  li
                    icon.Close(ng-click="closeModalWindow()")
          form.content
              .col-11#share_article_link
                  input(type='text', placeholder='Article URL' value='{{article_Link}}')
              .col-1
                a.button.btn-editor(href ='#' ng-click='copy_Article_Link()' )
                  icon.Copy