div(ng-controller='Share_Controller' ng-show='show_feedback')
  div(ng-show='show_feedback')
        .modal
          .navbar
              .col-11
                  .label.no-underline {{modalMessage()}}
              //.col-5(ng-show="showInfoMessage()")
              //    .section.row(style="padding-top:0px")
              //        .alert-nav.alert-ok(role="alert" ng-show="showInfoMessage()")
              //            span {{infoMessage}}
              ul
                  li
                    icon.Close(ng-click="closeModalWindow()")
          form.content
              .col-11#share_article_link
                  input(id="share_link" type='text', placeholder='Article URL' value='{{article_Link}}' readonly=true)
              //.col-1
              //  a.button.btn-editor(href ='#' ng-click='copy_Article_Link()' ng-show="false" )
              //    icon.Copy