//extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/application-mixins

block content
  .application
    //include ../component/left_navigation.jade
    //include ../component/filters.jade
    main
      +flare-alert