//extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/links

block content
  .application
    //include ../component/left_navigation.jade
    //include ../component/filters.jade
    main
      include ../component/article.jade
      +copyright