include ../mixins/globals.jade

block content
  .main(ng-controller='Help_Controller' class='help')
    .col-3.application-scroll
      help-navigation
    .col-9.application-scroll
      #help.section.article
        h1#help-title {{title}}
        help-content(dynamic="content")
        +copyright