block content
  .main(ng-controller='Help_Controller' class='help')
    .section.row
      .col-3
        help-navigation
      .col-9
          //article
          #help.article
            h1#help-title {{title}}
            help-content(ng-bind-html='content')