//extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/application-mixins.jade
include ../mixins/links.jade
block content
    //.application
    //+left-navigation
    +filters-div
    main
      section.row
        .col-3
          h1 docs nav
          +help-navigation
        .col-9
          article
            h1 docs Content
            +help-content