//extends ../_to_be_wired_in/_layouts/page_logged_out
include ../../TM_Jade/shared-mixins/globals.jade

block content
  .application
    section.row
      +alert-login-failed
      +alert-please-login
      +alert-pwd-sent
      +alert-sign-up-failed
      +alert-sign-up-OK
      +alert-pwd-reset-failed
      +alert-pwd-reset-OK
      +alert-3-5-unavailable