//extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/application-mixins.jade
include ../mixins/links.jade

block content
  .application
    +left-navigation
    +filters-div
    main
      +start-view