extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/application-mixins.jade
include ../mixins/links.jade

block content
  .application
    include ../component/left_navigation.jade
    include ../component/filters.jade
    main
      include ../component/start_view.jade