block content
    //.application
    main(ng-controller='Navigate_Controller')
      section.row
        .col-3
          navigate-queries
        .col-9
          include ../component/results_save_share.jade
          navigate-results
          //filters