block content
  .application
    main(ng-controller='Navigate_Controller')
      section.row
        .col-2
          navigate-queries
        .col-6
          navigate-results
        .col-3
          filters