//extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/application-mixins

block content
  .main
    .section.row
      .col-1
      .col-10
        .section.row__label
          .label Welcome to TEAM Mentor
        .section.row
          .col-4
            .article-box
              .result
                .summary
                  br
                  h2 Search
                  br
                  p TEAM Mentor 4.0 has faster and more reliable search results. Search the database by filter, issue or technology.
          .col-4
            .article-box
              .result
                .summary
                  br
                  h2 Navigate
                  br
                  p Not sure where to start? You can browse our index and find groups of articles that cover entire topics.
          .col-4
            .article-box
              .result
                .summary
                  br
                  h2 Filters
                  br
                  p Filter your results to find articles that directly relate to you. You can filter by technology, phase and type.
      .col-1