//extends ../_to_be_wired_in/_layouts/page_logged_out
include ../mixins/getting-started-mixins

block content
  .application
    section.row
      .col-6
        +team-mentor-summary
      .col-6
        pwd-forgot-form