//extends ../_to_be_wired_in/_layouts/page_logged_out
include ../mixins/getting-started-mixins

block content
  section.row
    .col-4
      +team-mentor-summary
    .col-8
      .getting-started
        //+alert-pwd-reset-failed
        +pwd-reset-form