//extends ../_to_be_wired_in/_layouts/page_logged_out
include ../mixins/getting-started-mixins
//include ../component/login_form.jade
block content
  .application
    section.row
      .col-4
        +team-mentor-summary
      .col-8
        section.getting-started
          +sign-up-form