include ../mixins/articles-mixins
include ../mixins/links

block content
  .main
    .col-3.application-scroll
      +terms-and-conditions-navigation
    .col-9.application-scroll
      .section.row__article
        include:marked ../../TM_Static/content/terms-and-conditions/terms-and-conditions.md