extends ../_to_be_wired_in/_layouts/page_logged_in
include ../mixins/application-mixins

block content
  .application
    +left-navigation
    +filters-div
    main
      section.row
        .col-3
          section.row__label
            .label @username
          section.row
            form
              input(type='text', name="name", value="First name, Last name")
              input(type='text', name="work", value="Position, Company")
              input(type='email', name="email", value="Email")
              button(type='submit')
                +tick-icon
        .col-8
          section.row
            //+saved-search-results
            +saved-articles-list
          +copyright