block content
  div.main
    .left-col.application-scroll.col-3
      queries
    .middle-col.application-scroll.col-9
      breadcrumbs
      results
      .scrolling-results
        articles
        pagination