block content
  div.main(ng-controller='Index_Controller')
    loading_bar
    div(class='{{column_Left}} application-scroll left-col')
      queries
    div(class='{{column_Middle}} middle-col')
      breadcrumbs
      results
      filters_active
      .scrolling-results
        articles
        pagination
    div(class='{{column_Right}} application-scroll right-col')
      include ../../component/user/found_issue
      filters(class='filters')