block content
  div.main(ng-controller='Index_Controller')
    div(class='{{column_Left}} application-scroll')
      queries
    div(class='{{column_Middle}} application-scroll')
      results
      breadcrumbs
      filters_active
      articles
      pagination
    div(class='{{column_Right}} application-scroll')
      filters