block content
  div.main(ng-controller='Index_Controller')
    div(class='{{column_Left}} application-scroll left-col')
      queries
    div(class='{{column_Middle}} middle-col')
      .fixed-results
        results
        breadcrumbs
        filters_active
      .scrolling-results.application-scroll
        articles
        pagination
    div(class='{{column_Right}} application-scroll right-col')
      filters(class='filters')