block content
  div(ng-controller='Index_Controller')
    .main
      .section.row
        div(class='{{column_Left}}')
          queries
        div(class='{{column_Middle}}')
          results
          breadcrumbs
          filters_active
          //articles
          pagination
        div(class='{{column_Right}}')
          filters