block content
  //.application
  div(ng-controller='Index_Controller')
    .main
      .section.row
        div(class='{{column_Left}}')
          queries
        div(class='{{column_Middle}}')
          results
          //breadcrumbs
          //include ../../component/user/filters_active.jade
          //filters_active
          articles
          pagination
        div(class='{{column_Right}}')
          filters