block content
  div.main(ng-controller='Index_Controller')
    div(class='{{column_Left}} application-scroll left-col')
      queries
      .found-issue.alert-ok
        a(href='#')
          span.alert-icon !
        span.alert-text Found an issue?  
          a(href='#') Contact  
          | our team.
        span.close
          a(href='#')
            icon.Close
    div(class='{{column_Middle}} middle-col')
      breadcrumbs
      results
      filters_active
      .scrolling-results
        articles
        pagination
    div(class='{{column_Right}} application-scroll right-col')
      filters(class='filters')