include ../../mixins/links.jade
block content
  .main
    .col-3.application-scroll
      div
        dl
          dt
            p#query_title Welcome to TEAM Mentor
          #containers.scroll
            div
              a(href='#popular_Search_Terms')
                dd
                  span.text Popular Search Terms
                  span.badge 12
              a(href='#recently_Viewed_Articles')
                dd
                  span.text Recently Viewed Articles
                  span.badge 12
              a(href='#top_Articles')
                dd
                  span.text Top Articles
                  span.badge 12
              //a(href='#')
              //  dd
              //    a(href='#my_Searches')
              //      span.text My Searches
              //      span.badge 12
    .col-9.application-scroll
      include ../../component/start_view.jade