block content
    main(ng-controller='Navigate_Controller')
      section.row
        .col-3
          navigate-queries
        .col-6
          include ../../component/results_save_share.jade
          navigate-results
        //.col-3
        //  filters