block content
    //.application
    main
      section.row
        .col-1
          small
            queries
        .col-8
          queries_breadcrumbs
          articles
        .col-3
           filters