mixin curated-content-article
  .col-9
    section.article-body
      section.row__article
        h1= title
        //include:md ../../TM_Static/content/articles/article-new-window.md
        //#html.article-content!= article_Html
  .col-3
    section.article-info
      +article-info

//- Article Info
mixin article-info
  section.row__label
    .label Relates to:
  section.row
    ul.display-inline
      li
        +filter-icon('Technology', technology)
        span.text= technology
      li
        +filter-icon('Phase', phase)
      li
        +filter-icon('Type', type)
  section.row__label
    .label Belongs to:
  section.row
    ul
      li
        a(href='/flare/curated-content')
          +curated-content-icon
          span.text Curated Content
    //ul.display-inline
      li.half-width
        +save-button
      li.half-width
        +share-button

//- Related Courses and Articles
mixin related-options
  section.row__label
    .label Related Articles
  section.row
      //+articles-list
  section.row__label
    .label Related Courses
  section.row
    //+articles-list
