//- Article
mixin article
  section.row
    .col-2
    .col-8
      section.row__article
        h1= title
        #html.article-content!= article_Html
    .col-2

mixin curated-content-article
  section.row
    .col-3
      section.article-info
        +article-info
    .col-9
      section.article-body
        section.row__article
          h1= title
          include:md ../../TM_Static/content/articles/article-new-window.md
          //#html.article-content!= article_Html

//- Article Info
mixin article-info
  section.row__label
    .label
      +curated-content-icon
      span This article is
        span
          a(href='curated-content') Curated Content
  section.row
    ul.display-inline
      li.half-width
        +save-button
      li.half-width
        +share-button


//- Related Courses and Articles
mixin related-options
  section.row__label
    .label Related Articles
  section.row
      //+articles-list
  section.row__label
    .label Related Courses
  section.row
    //+articles-list

mixin terms-and-conditions
  include:marked ../../TM_Static/content/terms-and-conditions/terms-and-conditions.md