include icons.jade

mixin curated-content-article
  .col-9
    section.article-body
      section.row__article
        h1 Article Title
  .col-3
    section.article-info
      +article-info-editor-option

//- Article Info
mixin article-info
  ul.display-inline
      li.half-width
        +save-button
      li.half-width
        +share-button
  section.row__label
    .label Relates to:
  section.row
    ul.display-inline
      li
        //+show-icon('Technology', technology)
        span.text= technology
      li
        //+show-icon('Phase', phase)
      li
        //+show-icon('Type', type)
  section.row__label
    .label Belongs to:
  section.row
    ul
      li
        a(href='/flare/curated-content')
          +curated-content-icon
          span.text Curated Content
  section.row__label
    .label Related Articles:
  section.row
    ul
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline

mixin article-info-editor-option
  ul.display-inline
    li
      +edit-button
    li.one-third
      +save-button
    li.one-third
      +share-button
  section.row__label
    .label Relates to:
  section.row
    ul.display-inline
      li
        //+show-icon('Technology', technology)
        span.text= technology
      li
        //+show-icon('Phase', phase)
      li
        //+show-icon('Type', type)
  section.row__label
    .label Belongs to:
  section.row
    ul
      li
        a(href='/flare/curated-content')
          +curated-content-icon
          span.text Curated Content
  section.row__label
    .label Related Articles:
  section.row
    ul
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline
      li
        a(href='#') Article Headline

mixin article-editor
  .col-9
    section.article-body
      section.row
        form.article-editor
          input(type='text', name='article-title', placeholder='Article Title')
          textarea(name='article-body', placeholder='Article Body')
          section.import-files
            p
              | You can
              a(href='#')  import
              |  PDFs, images or Word documents.

      section.row__label
        .label Directories
        form
          ul.display-inline
            li
              input(type='radio' name='editor' value='add' id='add')
              label(for='add')
                +add-icon
            li Edit
            li Delete



dt.editor
    form.text-center
      div
        input(type='radio' name='editor' value='add' id='add')
        label(for='add') Add
      div
        input(type='radio' name='editor' value='edit' id='edit')
        label(for='edit')
          +edit-icon
      div
        input(type='radio' name='editor' value='move' id='move')
        label(for='move') Move
      div
        input(type='radio' name='editor' value='delete' id='delete')
        label(for='delete')
          +delete-icon


      section.row
        p Directories Here

      section.row__label
        .label Filters
      section.row
        p Filters Here

      section.row__label
        .label Quality
      section.row
        p Quality slider

  .col-3
    section.article-info
      ul.display-inline
        li
          button.btn-editor(type='submit')
            +tick-icon
        li
          button.btn-editor.cancel(type='submit')
            +close-icon