mixin open-button
    button.controls.dropdown(href='#', data-dropdown='article-open', aria-controls='drop1', aria-expanded='false')
        i.fi-plus
    ul#article-open.f-dropdown.active(data-dropdown-content='', aria-hidden='true', tabindex='-1')
        li
            a(href='#') ASP.NET
        li
            a(href='#') Android
        li
            a(href='#') C++
        li
            a(href='#') HTML5
        li
            a(href='#') iOS
        li
            a(href='#') Java
        li
            a(href='#') PHP
        li
            a(href='#') Scala

mixin save-button
    button.btn-result.icon-Save(title='Save article to Collection')

mixin delete-button
    button.btn-result.icon-Delete(title='Delete all articles')

mixin delete-saved-button
    button.btn-minor.icon-Delete(title='Delete')

mixin share-button
    button.btn-result.icon-Share(title='Share all articles')

mixin share-saved-button
    button.btn-minor.icon-Share(title='Share')

mixin save-results-button
    button.btn-result.icon-Save(title='Save results to Collection')

mixin delete-results-button
    button.btn-result.icon-Delete(title='Delete results from Collection')

mixin share-results-button
    button.btn-result.icon-Share(title='Share results')

mixin clear-selected-button
    button(type='submit', id='btn-clear-selected') Clear Selected

mixin clear-all-button
    button(type='submit', id='btn-clear-all') Clear All

mixin edit-button
    button(type='submit', id='btn-edit') Edit

mixin reset-pwd-button
    button(type='submit', id='btn-reset-pwd') Reset password