mixin save-button
    button.btn-result.icon-Save(title='Save article to Collection')

mixin delete-button
    button.btn-result.icon-Delete(title='Delete all articles')

mixin delete-saved-button
    button.btn-minor.icon-Delete(title='Delete')

mixin share-button
    a.button.btn-result.icon-Share(title='Share this article' href='mailto:')

mixin share-saved-button
    button.btn-minor.icon-Share(title='Share')

//mixin save-results-button
    button.btn-result.icon-Save(title='Save results to Collection')

//mixin delete-results-button
    button.btn-result.icon-Delete(title='Delete results from Collection')

//mixin share-results-button
    button.btn-result.icon-Share(title='Share results')

mixin clear-selected-button
    button(type='submit', id='btn-clear-selected') Clear Selected

mixin clear-all-button
    button(type='submit', id='btn-clear-all') Clear All

mixin edit-button
    button.btn-result.icon-Edit(type='submit', id='btn-edit')

mixin reset-pwd-button
    button(type='submit', id='btn-reset-pwd') Reset password

mixin sign-up-button
    button.full-width(type='submit', id='btn-sign-up') Sign Up

mixin get-password-button
    button.full-width(type='submit' id='btn-get-password') Retrieve password