// Getting Started

mixin username-input
    label Username
    input(type='text', id='username', placeholder='Username')

mixin password-input
    label Password
    input(type='password', id='password', placeholder='Password')

mixin new-password-input
    label(for='user-new-password') New Password
    input(type='password', id='user-new-password', placeholder='New Password')

mixin confirm-new-password-input
    label(for='user-confirm-new-password') Confirm New Password
    input(type='password', id='user-confirm-new-password', placeholder='Confirm New Password')

mixin email-input
    label Email Address
    input(type='email', id='email', placeholder='Email Address' , ng-model='email', required, maxlength='256')

// User Inputs

mixin name-input
    label Name
    input(type='text', id='name', placeholder='Full Name', ng-model='name')

mixin title-input
    label Title
    input(type='text', id='title', placeholder='Title')

mixin company-input
    label Company
    input(type='text', id='company', placeholder='Company')


// Editor Inputs

mixin editor-add-form
  form
    label(for='add-directory') Add new directory
    section.row
      .col-10
        input(type='text' id='add-directory')
      .col-2
        button.btn-editor(type='submit')
          +tick-icon

mixin editor-edit-form
  form
    label(for='edit-directory') Edit directory
    section.row
      .col-8
        input(type='text' id='edit-directory')
      .col-2
        button.btn-editor(type='submit')
          +tick-icon
      .col-2
        button.btn-editor.cancel(type='submit')
          +close-icon

mixin editor-delete-form
  form
    section.row
      .col-8
        label(for='delete-directory') Are you sure you want to delete this?
      .col-2
        button.btn-editor(type='submit')
          +tick-icon
      .col-2
        button.btn-editor.cancel(type='cancel')
          +close-icon