mixin username-input
    label Username
    input(type='text', id='username', placeholder='Username')

mixin password-input
    label Password
    input(type='password', id='password', placeholder='Password')

mixin new-password-input
    label(for='user-new-password') New Password
    input(type='password', id='user-new-password', placeholder='New Password')

mixin confirm-new-password-input
    label(for='user-confirm-new-password') Confirm New Password
    input(type='password', id='user-confirm-new-password', placeholder='Confirm New Password')

mixin email-input
    label Email Address
    input(type='email', id='email', placeholder='Email Address')

mixin name-input
    label Name
    input(type='text', id='name', placeholder='Full Name')

mixin title-input
    label Title
    input(type='text', id='title', placeholder='Title')

mixin company-input
    label Company
    input(type='text', id='company', placeholder='Company')