// Getting Started

mixin username-input
    label Username
    input(type='text', id='username', placeholder='Username',  ng-model='username',required=)

mixin password-input
    label(for='password') Password
    input(type='password', id='password', placeholder='Password',ng-model='password',required,maxlength='256')

mixin confirm-password-input
  label(for='confirmpassword') Confirm Password
  input(type='password', id='confirmpassword',ng-model='confirmpassword',placeholder='Password',required,maxlength='256')

mixin email-input
  label(for='email') Email Address
  input(type='email', id='email',ng-model='email', placeholder='Email Address',required,maxlength='256')

mixin first-name-input
  label(for='firstname') First Name
  input(type='text', id='firstname',ng-model='firstname', placeholder='First Name',required,maxlength='100')

mixin last-name-input
  label(for='lastname') Last Name
  input(type='text', id='lastname',ng-model='lastname', placeholder='Last Name',required,maxlength='100')

mixin company-input
  label(for='company') Company
  input(type='text', id='company',ng-model='company',  placeholder='Company', maxlength='100')

mixin title-input
  label(for='title') Job/Title
  input(type='text', id='title', ng-model='title', placeholder='Job/Title',maxlength='100')

mixin country-input
  label(for='country') Country
  input(type='text', id='country',ng-model='country', placeholder='Country',required,maxlength='100')

mixin state-input
  label(for='state') State
  input(type='text', id='state',ng-model='state', placeholder='State',maxlength='100')