include icons.jade
include buttons.jade
include form_inputs.jade


//- Website Name
- var head_title = 'TEAM Mentor 4.0'


mixin copyright
    .footer
        a(href='http://www.securityinnovation.com/' target='_blank')
            .si-logo
        .icons
            ul
                li
                    .label.no-underline TEAM Mentor 4.0
                li
                    a(href='mailto:support@securityinnovation.com' title='Email')
                        +mail-icon
                li
                    a(href='http://www.twitter.com/SecInnovation' target='_blank' title='Twitter')
                        +twitter-icon
                li
                    a#terms-and-conditions(ui-sref="terms_and_conditions")
                        +paperclip-icon