// Application Icons

mixin article-icon
  span.icon-Article

mixin back-icon
  a(href='javascript:history.go(-1)')
    span.icon-Arrow-Left

mixin close-icon
  span.icon-Close

mixin curated-content-icon
  span.icon-Curated-Content

mixin delete-icon
  span.icon-Delete

mixin edit-icon
  span.icon-Edit

mixin email-icon
  span.icon-Mail

mixin filter-icon
  span.icon-Filter

mixin forward-icon
  span.icon-Arrow-Right

mixin home-icon
  span.icon-home

mixin index-icon
  span.icon-Index

mixin info-icon
  span.icon-Info

mixin logout-icon
  span.icon-Logout

mixin search-icon
  span.icon-Search

mixin share-icon
  span.icon-Share

mixin tick-icon
  span.icon-Tick

mixin twitter-icon
  span.icon-Twitter

mixin user-icon
  span.icon-User


// Filter Icons
mixin all-icon
    span.icon-All
        span.path1
        span.path2

mixin android-icon
    span.icon-Android
        span.path1
        span.path2
        span.path3
        span.path4

mixin scala-icon
    span.icon-Scala
        span.path1
        span.path2

mixin test-icon
    span.icon-Test
        span.path1
        span.path2

mixin vulnerabilities-icon
    span.icon-Vulnerabilities
        span.path1
        span.path2

mixin wcf-icon
    span.icon-WCF
        span.path1
        span.path2

mixin web-app-icon
    span.icon-Web-App
        span.path1
        span.path2
        span.path3
        span.path4
        span.path5
        span.path6
        span.path7
        span.path8
        span.path9
        span.path10
        span.path11