include ../../TM_Jade/shared-mixins/globals.jade
include globals.jade

mixin usp
  section.usp
    include:md ../../TM_Static/content/landing-pages/usp.md
    a.button.btn-landing(href='get-started') Start your free trial today

mixin reasons
  section.reasons
    include:md ../../TM_Static/content/landing-pages/reasons-div-heading.md
    section.row
      .col-3
        .fix-vulnerabilities
      .col-9
        include:md ../../TM_Static/content/landing-pages/selling-point-1.md
    section.row
      .col-3
        .reduce-vulnerabilities
      .col-9
        include:md ../../TM_Static/content/landing-pages/selling-point-2.md
    section.row
      .col-3
        .improve-process
      .col-9
        include:md ../../TM_Static/content/landing-pages/selling-point-3.md

mixin clients
  section.clients
    include:md ../../TM_Static/content/landing-pages/clients-div-heading.md
    img(src='/assets/clients/client-logos.png')

mixin about-tagline
  section.about
    include:md ../../TM_Static/content/landing-pages/about-tm-tagline.md

mixin about-us
  section.about-us
    include:md ../../TM_Static/content/landing-pages/about-tm-summary.md

mixin features
  section.features
    include:md ../../TM_Static/content/landing-pages/features-div-heading.md
    section.row
      .col-3
        .delivers-compliance
      .col-9.content
        include:md ../../TM_Static/content/landing-pages/feature-1.md
    section.row
      .col-3
        .integrates
      .col-9.content
        include:md ../../TM_Static/content/landing-pages/feature-2.md
    section.row
      .col-3
        .cross-references
      .col-9.content
        include:md ../../TM_Static/content/landing-pages/feature-3.md
    section.row
      .col-3
        .provides-guidance
      .col-9.content
        include:md ../../TM_Static/content/landing-pages/feature-4.md

mixin call-to-action
  section.call-to-action
    include:md ../../TM_Static/content/landing-pages/call-to-action.md
    a.button.btn-landing(href='../getting-started/index') See for yourself