mixin links-navbar__landing-page
  ul.display-inline
    li
      a.action(href='about') About
    li
      a.action(href='features') Features
    li
      a.action(href='help-index') Docs
    li
      a.button.btn-nav(href='get-started') Get Started

mixin left-navigation
  ul.side-nav
    li
      a(href='/flare/navigate')
        +index-icon
    //li
      a(href='/flare/curated-content')
        +curated-content-icon
    li
      a(href='/flare/help-index')
        +info-icon
    //li
      a(href='/flare/user')
        +user-icon
    li
      a(href='/flare/index')
        +logout-icon
    a.button.btn-minor(href='#')
      +close-icon

mixin navigate
  dl
    dt
      if title
        span.label.no-underline= title
    if(containers)
      #containers
        each container in containers
          if container.size > 0
            a(href= href + ',' +container.id , id=container.id)
              dd
                span.text= container.title
                span.badge= container.size

mixin help-navigation
  dl.help
    dt
      .label.no-underline Documentation
    dd
      a(href='help-sub-navigation')
        span About TEAM Mentor
    dd
      a(href='help-sub-navigation')
        span Installation
    dd
      a(href='help-sub-navigation')
        span Administration
    dd
      a(href='help-sub-navigation')
        span UI Elements
    dd
      a(href='help-sub-navigation')
        span Reading Content
    dd
      a(href='help-sub-navigation')
        span Editing Content
    dd
      a(href='help-sub-navigation')
        span Eclipse for Fortify plugin
    dd
      a(href='help-sub-navigation')
        span HP Fortify SCA UI Integration
    dd
      a(href='help-sub-navigation')
        span Visual Studio Plugin

mixin help-sub-navigation
  dl.help
    dt
      .label.no-underline Documentation
    dd
      a(href='help-sub-navigation')
        span About TEAM Mentor
        ul
          li
            a(href='help-docs')
              span What's new in this release?
          li
            a(href='help-docs')
              span Introduction to TEAM Mentor
          li
            a(href='help-docs')
              span Quick Start Guide
          li
            a(href='help-docs')
              span Support
    dd
      a(href='help-sub-navigation')
        span Installation
    dd
      a(href='help-sub-navigation')
        span Administration
    dd
      a(href='help-sub-navigation')
        span UI Elements
    dd
      a(href='help-sub-navigation')
        span Reading Content
    dd
      a(href='help-sub-navigation')
        span Editing Content
    dd
      a(href='help-sub-navigation')
        span Eclipse for Fortify plugin
    dd
      a(href='help-sub-navigation')
        span HP Fortify SCA UI Integration
    dd
      a(href='help-sub-navigation')
        span Visual Studio Plugin