//extends ../_to_be_wired_in/_layouts/page
include ../mixins/links.jade
include ../mixins/application-mixins.jade
include ../../TM_Jade/shared-mixins/globals.jade
include ../component/search_bar.jade

a.logo.application-logo(ui-sref='main')
search-bar
left-navigation