doctype html
html(lang='en')
  include head

  body
    include navbar_flare
    .application
      aside#left-nav
        +left-navigation
      aside#right-nav
        +filters-div
      main
        block content