//extends ../angular-page

extends angular-page.jade

append head
  link(rel="stylesheet" href="/angular/css/lib.css")
  script(src='/angular/js/lib.js')
  script(src='/angular/js/code.js')
  //base(href='/angular/flare/')

append body
  //div(ui-view)