extends index.jade

append head
  base(href='/angular/user/')

append body
  if global.custom && global.custom.custom_navigation
    include ../component/user/customer_search_bar
  else
    include ../component/user/search_bar

  left-navigation(class="navigation")
  div(ui-view)