extends _layouts/page
include mixins/articles-mixins
include mixins/application-mixins
include mixins/links

block content
  .application
    +left-navigation
    +filters-div
    main
      +article
      //+related-options
      //+copyright