include ../../mixins/buttons.jade
include ../../mixins/forms.jade
include ../../mixins/form_inputs.jade
include ../../mixins/globals.jade

div(ng-controller='Pwd_Forgot_Controller')
  .section.row__label
    h4 Forgot your password?
  .section.row
    +forgot-password-form
  +alert-ok