include ../../mixins/buttons.jade
include ../../mixins/form_inputs.jade

div(ng-controller='Pwd_Forgot_Controller')
  .section.row__label
    .label Forgot your password?
  .section.row
    form#forgot-pwd-form(ng-submit='get_Password()')
      .section.row
        .col-8.input-field
          +email-input
        .col-4.button-field
          +get-password-button
  alert-ok