include ../../mixins/form_inputs.jade
include ../../mixins/forms.jade
include ../../mixins/buttons.jade
include ../../mixins/globals.jade

div(ng-controller="Signup_Controller")
  .section.row__label
    h4 Sign Up
  +alert-bad
  +alert-ok
  form#sign-up-form.access-form(role="form" ng-submit="signup()")
    .section.row
      .col-6
        +first-name-input
        +last-name-input
        +username-input
        +password-input
        +confirm-password-input
      .col-6
        +email-input
        +company-input
        +title-input
        +country-input
        +state-input
    .section.row
      .col-6
        br
        include:marked ../../../TM_Static/content/getting-started/agree-to-toc.md
      .col-6
        ul.display-inline
          li.half-width
          li.half-width.text-right
            +sign-up-button