include ../../mixins/form_inputs.jade
include ../../mixins/forms.jade
include ../../mixins/buttons.jade
include ../../mixins/globals.jade

div(ng-controller="Signup_Controller")
  .section.row__label
    h4 Sign Up
  #error
    +alert-bad
  #info
    +alert-ok
  .section.row
    +sign-up-form