include ../mixins/icons.jade

section.row
  .col-2
  .col-8
    section.row__article
      h1 {{title}}
      #html.article-content(ng-bind-html='article_Html')
      ul.display-inline
        li
          +filter-icon('Technology', technology)
        li
          +filter-icon('Type', type)
        li
          +filter-icon('Phase', phase)
  .col-2