section.row__label
  .label Forgot your password?
section.row
  form#forgot-pwd-form(action='#')
    section.row
      .col-8.input-field
        +email-input
      .col-4.button-field
        br
        +get-password-button