dl.help.scroll
    span(ng-repeat="view in Library.Views")
        dt.vertical-align
            p {{view.title}}
        dd(ng-repeat = 'article in view.Articles')
          a(href='guides/{{article.id}}' ng-click='load_Article($event, article.id)') {{article.title}}
