dl.help.scroll
    span(ng-repeat="view in Library.Views")
        dt.vertical-align
            span.label.no-underline {{view.title}}
        dd(ng-repeat = 'article in view.Articles')
            a(href='#'+'{{article.id}}' ng-click='show_Article(article.id)') {{article.title}}
