if library
  dl.help
    each view in library.Views
      dt.vertical-align
        span.label.no-underline= view.Title
      .scroll
        each article in view.Articles
          dd
            a(href= '/flare/help/' + article.Id)= article.Title