dl.help.scroll
  span(ng-repeat = 'view in Views')
    dt.vertical-align
      p {{view.Title}}
    dd(ng-repeat = 'article in view.Articles')
      a(href='docs/'+'{{article.Id}}' ng-click='load_Doc($event, article.Id)') {{article.Title}}
