//if library
  dl.help
    each view in library.Views
      dt.vertical-align
        span.label.no-underline= view.Title
      .scroll
        each article in view.Articles
          dd
            a(href= '#' + article.Id)= article.Title

dl.help
  span(ng-repeat = 'view in Views')
    dt.vertical-align
      span.label.no-underline {{view.Title}}
    .scroll
      dd(ng-repeat = 'article in view.Articles')
        a(href='#'+'{{article.Id}}' ng-click='show_Doc(article)') {{article.Title}}
