include ../mixins/icons.jade
aside#left-nav(ng-controller='User_Navigation_Controller')
  ul
    li
      div.application-logo
    li
      a(ui-sref="main")
        +home-icon
    li
      //a(ng-href="#", ng-click='navigate()')
        +index-icon
      a(ui-sref="navigate")
        +index-icon
    li
      a(ui-sref="docs")
        +info-icon

    li
      a(href="/angular/guest/index")
        +logout-icon
      //a(ui-sref="logout")