include ../mixins/icons.jade
aside#left-nav
  ul
    li
      a(ui-sref="main")
        +home-icon
      //a(href="#main")

    li
      //a(href="/angular/user/navigate")
        +index-icon
      a(ui-sref="navigate")
        +index-icon


    li
      a(ui-sref="docs")
        +info-icon
      //a(href="#docs")

    li
      a(href="/angular/guest/index")
        +logout-icon
      //a(ui-sref="logout")


