aside#left-nav
  ul
    li
      //a(ui-sref="main")
      a(href="#main")
        +home-icon
    li
      //a(ui-sref="navigate")
      a(href="#navigate")
        +index-icon
    li
      //a(ui-sref="docs")
      a(href="#docs")
        +info-icon
    li
      //a(ui-sref="logout")
      a(href="#logout")
        +logout-icon