include ../mixins/icons.jade
if results
  each result,index in results.take(10)
    if result && result.id && result.title
      article.result
        .metadata
          ul
            //li
              span.label.no-underline
                +tick-icon
                span   Seen
            li
              +filter-icon('Technology',result.technology)
            li
              +filter-icon('Type', result.type)
            li
              +filter-icon('Phase', result.phase)
            //li
                +save-button
            //li
                +share-button
        .summary
          a(href='/angular/user/article/' + result.id.remove('article-') + '/' + result.title.replace(/ /g,'-').remove('.'), id=result.id)
            h3#article-headline= result.title
          p= result.summary + '...'