include ../mixins/icons.jade

section.row.pagination
  .previous
    +back-icon
  .number
    select
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
  .next
    +forward-icon