include ../mixins/buttons.jade

section.row__label
    .label Saved Items
    ul.display-inline
      li
        a.button.btn-result.icon-Filter(href='')
      li
        +delete-results-button
      li
        +share-results-button