section.row__label
  if results
    if results.size() > 25
      td
        .label.no-underline#resultsTitle= results.take(25).size() + '/' + results.size() + ' results showing'
    else
      td
        .label.no-underline#resultsTitle= results.take(25).size() + ' results showing'
    ul.display-inline
      li
        //a.button.btn-result.icon-Filter(href='#right-nav') aaaaaaa
        a.button.btn-result.icon-Filter(href='')
      //li
        +save-results-button
      //li
        +share-results-button