include ../mixins/buttons.jade

.section.row__label
    .label Saved Items
    ul.display-inline
      li
        a.button.btn-result.icon-Filter(href='')
      li
        button.btn-result.icon-Delete(title='Delete results from Collection')
      li
        button.btn-result.icon-Share(title='Share results')