include ../mixins/icons.jade
.search(ng-controller='Search_Controller')
  form(ng-submit='submit()')
    select
        option(value='.Net')= 'Net.....'
        option(value='Java')= 'abc'
        option(value='php')= 'php'
    input.search-input#search-text(type='text', ng-model='text', placeholder='Type keywords here')
    button.btn-search#search-button(type='submit')
      +search-icon