include ../mixins/form_inputs.jade
include ../mixins/buttons.jade

section.row__label
  .label Sign Up
section.row
  form#sign-up-form(action='/flare/user/sign-up')
    .input-field
      +username-input
    .input-field
      +email-input
    .input-field
      +password-input
    .input-field
      +confirm-password-input
    .input-field
      +first-name-input
    .input-field
      +last-name-input
    .input-field
      +company-input
    .input-field
      +title-input
    .input-field
      +country-input
    .input-field
      +state-input
    .conditions
      include:marked ../../TM_Static/content/getting-started/agree-to-toc.md
    .button-field
      +sign-up-button