section.row
  section.row__label
    .label Popular Search Terms
  section.row
    include result_saved_article.jade
section.row
  section.row__label
    .label Recently Viewed Articles
  section.row
    include result_article.jade
section.row
  section.row__label
    .label Top Articles
  section.row
    include result_article.jade