section.row
  section.row__label
    .label Popular Search Terms
  section.row
    +search-term-list
section.row
  section.row__label
    .label Recently Viewed Articles
  section.row
    //+articles-list
section.row
  section.row__label
    .label Top Articles
  section.row
    //+articles-list