section.tm-summary
  section.row__label
    .label With TEAM Mentor, you can...
  section.row
    table
      tr
        td
          .fix-vulnerabilities
        td
          include:marked ../../TM_Static/content/getting-started/summary-point-1.md
      tr
        td
          .reduce-vulnerabilities
        td
          include:marked ../../TM_Static/content/getting-started/summary-point-2.md
      tr
        td
          .improve-process
        td
          include:marked ../../TM_Static/content/getting-started/summary-point-3.md