.section.row__label
  .label @username
.section.row
  form
    input(type='text', name="name", value="First name, Last name")
    input(type='text', name="work", value="Position, Company")
    input(type='email', name="email", value="Email")
    button(type='submit')
      icon.Tick